.sidebar {
    width: 260px;
    position: fixed;
    top: 62px;
    height: 100vh;
    background: #f0f3f7;
    z-index: 100;

    .sidebar-item {
        padding: 10px 20px;
        padding-left: 45px;
        margin-top: 10px;
        cursor: pointer;    
        color: #86868a;
        border-left: 3px solid transparent;
        &.disable {
            color: #d2d2d1;
        }
        .sidebar-item-text {
           
        }
       
        .collapse-button {
            right: 25px;
        }
    }

    .sub-menu-item {
        border-left: 3px solid transparent;
    }

    .active {
        color: #528aea !important;
        border-left: 3px solid #528aea;
        transition: 0.5s border linear;
    }

    .separator {
        border-top: 1px solid #d7dee7;
        margin-top: 10px;
        margin-left: 45px;
        margin-right: 25px;
    } 

    .side-bar-collapsable-list {
        list-style-type: none;
        
        li {
            padding: 8px 10px 8px;
            //text-transform: uppercase;
            color: rgba($color: #1d1d1d, $alpha: 0.5);
        }
    }
}
.top-155 {
    top: 155px;
}