.z-a {
    z-index: auto;
}
.z-1 {
    z-index: 1;
}
.z-3 {
    z-index: 3;
}
.z-4 {
    z-index: 4;
}
.z-5 {
    z-index: 5;
}
.z-6 {
    z-index: 6;
}

.z-100 {
    z-index: 100;
}
.z-501 {
    z-index: 501;
}
.z-502 {
    z-index: 502;
}